doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, shrink-to-fit=0, initial-scale=1.0")
    meta(name="keywords", content="software development, software engineering, programming, freelancing, Sean T. McBeth, embedded programming, virtual reality, agumented reality, VR, AR, 3D, graphics programming, game development, simulation, abstract data visualization, audio synthesis, signals processing, computer vision, peer-to-peer, networking, desktop software, Web applications, mobile apps, WebRTC, hardware, embedded systems, reporting, GIS, databases")
    title Sean T. McBeth: other info
    link(type="text/css", rel="stylesheet", href="index" + cssExt)
    != liveReload
  body
    main

      section#bonafides

        h2: a(name="edu") Education
        ul
          li Bachelors of Science, Computer Science&mdash;#[a(href="http://www.ship.edu/CSE/") Shippensburg University], #[em cum laude] 2005.

        h2: a(name="profiles") Online Profiles
        ul
          li: a(href="https://github.com/capnmidnight") Github
          li: a(href="https://www.npmjs.com/~seanmcbeth") NPM
          li: a(href="https://www.youtube.com/user/moron4hire") YouTube
          li: a(href="https://codepen.io/SeanMcBeth/") CodePen
          li: a(href="https://mastodon.cloud/@SeanMcBeth") Mastodon
          li: a(href="http://sean-mcbeth.tumblr.com") Tumblr blog
          li: a(href="https://plus.google.com/+SeanMcBeth/posts") Google+
          li: a(href="https://news.ycombinator.com/user?id=moron4hire") Hacker News
          li: a(href="https://www.crunchbase.com/person/sean-mcbeth#/entity") CrunchBase
          li: a(href="http://www.imdb.com/name/nm5111059/") IMDB (yup)

        h2: a(name="projects") Past Projects
        ul
          li #[a(href="https://www.youtube.com/watch?v=PWvPEEpLCT0&feature=youtu.be&t=55") Smart-city VR diorama], with:
            ul
              li #[a(href="https://www.youtube.com/watch?v=gdiIqyTl_Kk") Traffic simulation] with #[a(href="https://www.youtube.com/watch?v=awmEM5jbZAk") night-time dependent effects]
              li: a(href="https://www.youtube.com/watch?v=XL__CsW_L7A") Power grid simulation
              li: a(href="https://www.youtube.com/watch?v=90hJ4h-rwk0") Day/night cycle for time-series simulation in games
          li #[a(href="https://www.youtube.com/watch?v=xSSL8WqZT6o") Music beat detection] for #[a(href="https://www.youtube.com/watch?v=K_HJtNlNsmg&feature=youtu.be&t=20") game-play synchronization]
          li: a(href="https://www.youtube.com/watch?v=CEYDYRBhC2E") AR for business cards
          li: a(href="https://medium.com/@notiontheory/building-a-haptic-feedback-glove-for-virtual-reality-77232999a2d7") Haptic Glove, v2
          li: a(href="https://plus.google.com/+SeanMcBeth/posts/gKF7sQ2FAhh") Haptic Glove, v1
          li: a(href="https://www.bloomberg.com/news/articles/2016-12-06/goldman-sachs-alum-turns-to-virtual-reality-to-sell-57-million-mansion") REX: 360° Real Estate Tours
          li: a(href="https://www.youtube.com/watch?v=fhvDLiuSYis") AR for Religious Preference
          li: a(href="https://makeoffices.com/blog/the-east-coasts-first-virtual-reality-arcade-launches-at-makeoffices-dc/") The East Coast's first Virtual Reality Arcade
          li: a(href="https://www.linkedin.com/pulse/i-just-hacked-my-brain-sean-mcbeth") DIY Galvanic Vestibular Stimulation (virtual balance)
          li: a(href="https://youtu.be/-oOK6dDr74I?t=61") Live-programmable VR environment
          li: a(href="http://www.highlandfrs.com") Highland Solutions: a consultancy for helping people wrangle their data
          li: a(href="https://www.youtube.com/watch?v=5SXsu_MEzmU") Genetic algorithm visualizer
          li: a(href="https://github.com/capnmidnight/SqlSiphon") SqlSiphon: a database management library for .NET
          li: a(href="https://www.justwritedammit.com/") Just Write, Dammit! A book writing platform
          li: a(href="https://www.youtube.com/watch?v=KcDqzLGkre4&feature=youtu.be&t=43") Rieker CARS: DOT-compliant road sign recommendations
          li: a(href="https://github.com/capnmidnight/small-town") Small Town: interactive fiction + AI Shakespere
          li: a(href="http://sean-mcbeth.tumblr.com/tagged/Germany") Photography from Germany
          li: a(href="http://sean-mcbeth.tumblr.com/tagged/Ireland") Photography from Ireland
          li: a(href="http://sean-mcbeth.tumblr.com/tagged/Galapagos") Photography and writing on the Galapagos Islands
          li: a(href="http://sean-mcbeth.tumblr.com/tagged/abstract") Abstract photography with prisms
          li: a(href="http://www.amazon.com/dp/B00J3XY6N2") Three Years: an ebook
          li: a(href="http://sean-mcbeth.tumblr.com/post/60153233552/a-thing-i-built-a-while-ago-you-can-see-it-in") Speaking Accent Recognition Testing Machine
          li: a(href="https://www.youtube.com/watch?v=j4eOyNT6JsY") Laser Harp
          li: a(href="pong/") Mobile-responsive Pong game
          li: a(href="http://www.hive76.org/the-no-video-game") The No-Video Game
          li: a(href="http://www.hive76.org/standing-workstations") Standing Workstation
          li: a(href="synth/") Scratch Live! An HTML 5 synthesizer
          li: a(href="https://www.youtube.com/watch?v=RPdBk-qXuzg") 2-Player, Competitive, Arm-Wrestling Tetris
          li: a(href="http://wiki.hive76.org/Burning_Zombie_Dummy") Indie-movie pyrotechnic effects

        h2: a(name="volunteer") Past Community Work
        ul
          li #[a(href="https://dcacm.org/2016/07/04/announcing-the-2016-2017-dc-acm-executive-board/") VR Program Chair] for #[a(href="https://dcacm.org") the Washington DC chapter] of #[a(href="https://www.acm.org") ACM].
          li Treasurer, events coordinator, and board member at #[a(href="http://wiki.hive76.org/Elections") Hive76].
          li Charter President for Shippensburg University's chapter of #[a(href="http://upe.acm.org/") Upsilon Pi Epsilon], the Computer Science honor society.
          li President for Shippensburg University's student ACM chapter.
          li Vice-President for Shippensburg University's programming team.
          li President for Penn State Mont Alto's engineering club.

  section#menu
    ul
      li: a(href="#edu") .edu
      li: a(href="#profiles") .net
      li: a(href="#projects") .com
      li: a(href="#volunteer") .org
      li: a(href="index.html") home/
