<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
  <system.webServer>
    <!--
      You can control how Node is hosted within IIS using the following options:
        * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
        * node_env: will be propagated to node as NODE_ENV environment variable
        * debuggingEnabled - controls whether the built-in debugger is enabled

      See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
    -->
    <webSocket enabled="false"/>
    <rewrite>
      <rules>
        <!-- Force redirect to https -->
        <rule name="HTTPSRedirect">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="(.+\.)?seanmcbeth\.com$" />
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />


    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>


    <staticContent>
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".mtl" mimeType="text/plain" />
      <mimeMap fileExtension=".obj" mimeType="text/plain" />
      <mimeMap fileExtension=".md" mimeType="text/plain" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>


  </system.webServer>
</configuration>
