@page
@{
    ViewData["SubURL"] = "talks";
    ViewData["Title"] = "Sean T. McBeth: engineer, photographer, mad scientist";
    ViewData["Keywords"] = "software development, software engineering, programming, freelancing, Sean T. McBeth, embedded programming, virtual reality, agumented reality, VR, AR, 3D, graphics programming, game development, simulation, abstract data visualization, audio synthesis, signals processing, computer vision, peer-to-peer, networking, desktop software, Web applications, mobile apps, WebRTC, hardware, embedded systems, reporting, GIS, databases";
    ViewData["Description"] = "Sean T. McBeth is a software engineer and dad.";
}

@section Menu {
    @{
        foreach (var (text, title, href) in new[] {
            ("home/", "Home", "/"),
            ("etc/", "Extras", "/other")
        })
        {
            <li>
                <a href="@href"
                   aria-label="@title"
                   title="@title">
                    @text
                </a>
            </li>
        }
    }
}

<section id="talks"
         aria-label="talks and interviews">

    <h2>Talks &amp; Interviews</h2>
    <p>
        These are talks and podcasts that I've done in the past.
    </p>

    <h3>2023</h3>
    <ul>
        <li>
            <a href="https://calico.org/sigs/virtual-worlds/">CALICO Immersive Realities SIG</a>: A colleauge and I gave a
            presentation and answered extensive Q+A on designing proficiency-oriented virtual reality scenarios for foreign
            language training.
        </li>
    </ul>

    <h3>2022</h3>
    <ul>
        <li>
            <a href="https://www.airuniversity.af.edu/Portals/10/AFCLC/documents/LREC/2022/2022-AU-LREC-Symposium-Program.pdf">
                Air Force
                Culture and Language Center - Air University: Language, Regional Expertise, and Culture Symposium
            </a>: A colleague and I
            gave a presentation on designing proficiency-oriented virtual reality scenarios for foreign language training.
        </li>
    </ul>

    <h3>2021</h3>
    <ul>
        <li>
            <em>Virtual Worlds Forum</em>: I gave a presentation on using WebXR to create environments for foreign language students to
            meet with their instructors and practice conversation skills in culturally appropriate settings.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-developing-vr-for-language-learning/id1364646421?i=1000553465584">
                Vernacular Reality (Ep8):
                Developing VR for Language Learning
            </a>: In this episode of Vernacular Reality, we talk with DLS Project Manager, Katia, about
            her role in developing virtual reality scenarios for language learning. Katia shares insights on the ability to customize VR
            scenarios for different levels, plus the continuity of pre- and post-work.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-chinese-language-immersions-at-dls/id1364646421?i=1000541377150">
                Vernacular Reality
                (Ep7): Chinese Language Immersions at DLS
            </a>: In this episode of Vernacular Reality, we talk with DLS Language Training team
            member, Lia, about language immersions in virtual reality. As a Chinese instructor herself, Lia shares insights from the
            development of DLS Chinese immersions to the student trials.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-designing-experiences-with-doug/id1364646421?i=1000527409207">
                Vernacular Reality
                (Ep6): Designing Experiences with Doug North Cook
            </a>: In this episode of Vernacular Reality, listen in on our conversation with Doug
            North Cook, immersive media program coordinator and professor, and lead instructor at Falling Water's Immersive Design Residency. We
            discuss all aspects of designing immersive software, including the inspiration for it, the execution of it, and how to optimize user
            experiences - especially for learning.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-weird-interfaces-with-jim-toepel/id1364646421?i=1000520540588">
                Vernacular Reality (Ep5):
                Weird Interfaces with Jim Toepel
            </a>: In this episode of Vernacular Reality, Blythe and Sean talk with Jim Toepel, design/product
            manager working with "weird interfaces" (from VR to Rock Band). They discuss the formative experience where they met, how one's
            relationship to software changes when moving our bodies in new and different ways, and all the benefits of engaging with immersive software.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-vr-for-training-with-jordan-higgins/id1364646421?i=1000513488490">
                Vernacular Reality (Ep4):
                VR for Training with Jordan Higgins
            </a>: In this episode, Blythe and Sean sit down with Jordan Higgins, XR Designer and adjunct
            faculty at the George Mason University School of Art! The two VR experts discuss their experiences working with AR/VR in general
            and for training, plus exciting innovations in the industry.
        </li>
    </ul>

    <h3>2020</h3>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=Y5Z_atwryHE">Project Genesiz: Virtual Reality Implications & Insights with Sean McBeth</a>:
            I chatted with a Zoomcast on <abbr>VR</abbr>, Internet privacy, and learning.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-inspiration-for-the-dls-vr-program/id1364646421?i=1000502616162">
                Vernacular Reality (Ep3):
                Inspiration for DLS VR Program
            </a>: In this episode of Vernacular Reality, Blythe and Sean discuss a variety of virtual reality apps that
            Sean has used in the past, the features he likes about each, and how each program has influenced his VR work at Diplomatic Language Services.
            From exercise to meditation, you might be surprised at just how much inspiration our language learning program took from other apps.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-different-perspectives-on-language/id1364646421?i=1000488598377">
                Vernacular Reality (Ep2): Different Perspectives on Language Learning with VR
            </a>: 'What if VR makes me feel sick?' 'Will my
            instructor be with me in this virtual environment?' 'What makes your application so special?' These are all potential perspectives
            from students that we address in episode two of Vernacular Reality. Listen in as Blythe, Chris, and Sean tackle perspectives that
            students may have regarding adding a virtual reality component into their language training, discuss why implementing VR makes sense
            for the individualized language training that is at the core of our business, and why this makes sense for the language learning
            industry in general.
        </li>

        <li>
            <a href="https://podcasts.apple.com/us/podcast/vernacular-reality-intro-to-language-learning-with-vr/id1364646421?i=1000479341353">
                Vernacular Reality (Ep1): Intro to Language Learning with VR
            </a>: Welcome to Vernacular Reality, the VR-focused extension of our
            podcast Language Matters! In this episode, our host, Blythe, sits down with DLS staff Sean McBeth (Immersive Software Developer)
            and Chris Bellas (President) to discuss what they are doing to bring virtual reality into language learning at Diplomatic Language
            Services, why they decided to do so, and what we can expect.
        </li>
    </ul>

    <h3>2019</h3>
    <ul>
        <li>
            <a href="https://mavricconference.umd.edu/src/pages/SethT.McBeth.html"><abbr>UMD</abbr> <abbr>MAVRIC</abbr> Conference 2019</a>:
            I spoke on accessibility for immersive applications and devices, software, and design techniques for achieving better access. (<a href="https://www.youtube.com/watch?v=Bzhp5g4HbKQ">Watch VR and AR for Everyone on YouTube</a><!--, <a href="presentations/vr-and-ar-for-everyon.pdf" aria-label="VR and AR for everyone PDF">PDF</a>, <a href="presentations/vr-and-ar-for-everyon.pptx" aria-label="VR and AR for everyone PowerPoint">PPTX</a>-->)
        </li>

        <li>
            <a href="https://www.meetup.com/CDK-Coder-Designer-Keggers/events/261603470/"><abbr>CDK</abbr>: Virtual Reality (<abbr>VR</abbr>) vs Augmented Reality (<abbr>AR</abbr>) Which Tech Will Win the Battle?</a>:
            I spoke on the current state of the Augmented Reality market, both of the progress of hardware and on design best-practices, with recommendations on how to get started in <abbr>AR</abbr> software development, primarily in the context of Enterprise-level software consulting.<!--(<a href="presentations/ar-for-fun-and-profit.pdf" aria-label="AR for Fun and Profit PDF">PDF</a>, <a href="presentations/ar-for-fun-and-profit.pptx" aria-label="AR for Fun and Profit PowerPoint">PPTX</a>)-->
        </li>
    </ul>

    <h3>2018</h3>
    <ul>
        <li>
            <a href="https://mavric.umd.edu/Sean%20T.%20McBeth"><abbr>UMD</abbr> <abbr>MAVRIC</abbr> Conference 2018</a>:
            I spoke on my experience at the Fallingwater Immersive Design Residency. (<a href="https://www.fallingwater.org/education/fallingwater-institute/immersive-design-residency/">Fallingwater Institute</a><!--, <a href="presentations/immersive-design.pdf" aria-label="Immersive Design PDF">PDF</a>, <a href="presentations/immersive-design.pptx" aria-label="Immersive Design PowerPoint">PPTX</a>-->)
        </li>
    </ul>

    <h3>2017</h3>
    <ul>
        <li>
            <a href="http://washington-dc.siggraph.org/2017/11/05/exploring-webvrchapter-board-elections/">DC <abbr>ACM</abbr> <abbr>SIGGRAPH</abbr>, November 2017</a>:
            I spoke on the history and current state of <abbr>VR</abbr> on the Web.
        </li>
        <li>
            <a href="https://www.facebook.com/dcvirtualreality/videos/1452036654839849/"><abbr>DCVR</abbr>, June 2017</a>:
            I spoke on getting started with Augmented Reality programming.
        </li>
        <li>
            <a href="https://www.evensi.us/virtual-reality-seminar-hosted-by-sean-mcbeth-northern/208134705"><abbr>NOVA</abbr> National Society of Collegiate Scholars'</a>:
            I was the keynote speaker for their annual event at Northern Virginia Community College's Loudoun campus.
        </li>
        <li>
            <a href="https://soundcloud.com/jon-wilkening/episode-16-sean-mcbeth">The Creative Bar: Episode 16</a>:
            I was interviewed on a podcast about entrepreneurship.
        </li>
        <li>
            <a href="http://arinaction.org/speakers/sean-mcbeth/"><abbr>AR</abbr> In Action 2017</a>:
            I spoke on two panels on haptics and content development.
        </li>
        <li>
            <a href="http://virtualrealityobserver.com/interview-sean-mcbeth-lead-vr-developer-of-notiontheory/">The Virtual Reality Observer</a>:
            I was interviewed for a tech blog about the future of <abbr>VR</abbr>.
        </li>
        <li>
            <a href="https://leanagiledc.com/speaker/sean-mcbeth/">Lean+Agile DC</a>:
            I gave a talk on rapid application development for <abbr>VR</abbr>.
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=TU1rG_tZp-I"><abbr>NOVAVR</abbr></a>:
            I spoke on a panel about the current state and future of Virtual and Augmented Reality.
        </li>
        <li>
            <a href="http://vrar.withthebest.com/#speakers"><abbr>VR</abbr>/<abbr>AR</abbr> With The Best</a>:
            I gave a webinar and ran personal Q&amp;A sessions on using Primrose to build <abbr>VR</abbr> applications.
        </li>
        <li>
            <a href="https://storify.com/ShahnazKamberi/stratfordwbcsit">Stratford University</a>:
            I described the essentials of Virtual Reality for Stratford's Computer Science/Information Technology students.
        </li>
    </ul>

    <h3>2016</h3>
    <ul>
        <li>
            <a href="https://www.facebook.com/dcvirtualreality/videos/1091494284227423/"><abbr>DCVR</abbr> Breakout Session #5</a>:
            I conducted a seminar on getting started with WebVR through Primrose.
        </li>
        <li>
            <a href="https://nvite.com/CodePenDC/ec85">CodePen DC</a>:
            I spoke on the emerging WebVR <abbr>API</abbr> and how developers can get started.
        </li>
        <li>
            <a href="https://devdiner.com/interviews/sean-mcbeth-on-primrose-webvr">Sean McBeth on Primrose and WebVR development (Dev Diner)</a>:
            I was interviewed for a blog about learning <abbr>VR</abbr> programming.
        </li>
        <li>
            <a href="http://www.blogtalkradio.com/dc-entrepreneur/2015/11/05/interview-with-sean-mcbeth-future-of-vr">DC Entrepreneur: Episode 2</a>:
            I was interviewed on a podcast about entrepreneurship.
        </li>
        <li>
            <a href="https://www.meetup.com/DCRealities/events/229971228/">2nd Annual <abbr>DCVR</abbr> Innovation Panel</a>:
            I spoke on a panel about the current state and future of <abbr>VR</abbr>.
        </li>
        <li>
            <a href="http://makezine.com/projects/make-35/making-pigments/">MAKE Magazine, Issue 35: Making Pigments</a>:
            I wrote an article about making paint pigments from basic chemicals.
        </li>
    </ul>
</section>
