body{
       background:#ffffff url(../img/leafbg.jpg) repeat-x;
       font-family:Arial, sans-serif;
       font-size:1em;
       color:black;
}
a {
   color: blue;
}
a.pending {
	color: red;
}
a.url {
	color: gray;
}
.wrapper{
   position:relative;
   overflow:hidden;
   background-color:#336699;
   color:white;
   border:solid 1px #336699;
   width:75%;
}
.content {
   border-right: 1px solid #336699;
   padding: 10px;
   background-color:white;
   color:black;
   margin-bottom:15px;
}

form {
   display: inline
}
