[Unit]
Description=Yarrow ASP.NET Core web app

[Service]
Type=notify
SyslogIdentifier=YarrowVR

WorkingDirectory=/home/azureuser/bin/Yarrow.Server
ExecStart=/home/azureuser/bin/Yarrow.Server/Yarrow.Server
User=azureuser

Restart=always
RestartSec=5
KillSignal=SIGINT

AmbientCapabilities=CAP_NET_BIND_SERVICE

Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_ROOT=/usr/share/dotnet
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:80;https://*:443
Environment=ConnectionStrings__Yarrow=Host=localhost;Database=Yarrow;Username=smcbeth;Password=<elided>
Environment=Google__SigningKey=<elided>
Environment=Google__APIKey=<elided>
Environment=Azure__Speech__Region=eastus
Environment=Azure__Speech__SubscriptionKey=<elided>
Environment=OpenAI__APIKey=<elided>
Environment=Mail__User=smcbeth@dlsdc.com
Environment=Mail__Password=<elided>

[Install]
WantedBy=multi-user.target
