@page
@{
    Layout = "_InfoLayout";
    ViewData["Title"] = "Privacy Policy";
}

<p>
    The links below describe the Privacy Policy of Diplomatic Language Services and Google
</p>
<ul>
    <li><a href="https://dlsdc.com/privacy-policy/" target="_blank">DLS Privacy Policy</a></li>
    <li><a href="https://policies.google.com/privacy" target="_blank">Google Privacy Policy</a></li>
</ul>