@page "{Code:int}"
@model Yarrow.Pages.StatusModel
@{
}

@section Scripts {
    <bundle-css name="home" versioned />
    <bundle-css dir="js/dom-apps" name="login/index" versioned />
}

<img src="https://http.cat/@Model.Code" style="display:block;margin:0 auto" />
<a href="/">Return home</a>