@page
@{
    Layout = "_InfoLayout";
    ViewData["Title"] = "Terms of Service";
}

<p>
    The links below describe the Terms of Service of Diplomatic Language Services and Google
</p>
<ul>
    <li><a href="https://policies.google.com/terms" target="_blank">Google Terms of Service</a></li>
</ul>