@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Head {
    <script type="module" src="~/js/Pages/index.js"></script>
}

Hello, worldS
<a href="https://seanmcbeth.com">My website</a>