@using Yarrow.Data;
@inject YarrowContext db;
@{
    var currentUser = db.GetCurrentUserWithRoles(User);
}

@if (currentUser.IsEditor)
{
    <li><h3>Content</h3></li>
    <li><a href="~/Editor/Scenarios/">Scenarios</a></li>
    <li><a href="~/Editor/Menu/">Menu</a></li>
    @if (currentUser.IsAdmin)
    {
        <li><a href="~/Editor/Files/">Files</a></li>
    }
}

@if (currentUser.IsManager)
{
    @if (currentUser.IsAdmin)
    {
        <li><hr /></li>
    }
    <li><h3>Sessions</h3></li>
    <li><a href="~/Editor/Reports/">Reports</a></li>

    @if (currentUser.IsAdmin)
    {
        <li><a href="~/Editor/Logs/">Logs</a></li>
        <li><a href="~/Editor/Rooms/">Classrooms</a></li>
    }

    <li><hr /></li>
    <li><h3>Authorization</h3></li>
    <li><a href="~/Editor/Users/">Users</a></li>
    <li><a href="~/Editor/Roles/">Roles</a></li>
    @if (currentUser.IsAdmin)
    {
        <li><a href="~/Editor/Organizations/">Organizations</a></li>
    }
    else
    {
        <li><a href="~/Editor/Organizations/Detail/@(currentUser.OrganizationID)">Organization</a></li>        
    }
}

@if (currentUser.IsAdmin)
{
    <li><hr /></li>
    <li><h3>Development</h3></li>
    <li><a href="~/Editor/Test">Tests</a></li>
    <li><a href="~/Editor/Settings/">Settings</a></li>
}