:root {
    --main-fg-color: #000;
    --main-bg-color: #fff;
}

@font-face {
    font-family: "Segoe UI Emoji";
    src: local("Segoe UI Emoji"), url("../fonts/seguiemj.ttf") format("truetype");
}


* {
    box-sizing: border-box;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    color: #0366d6;
}

.title-bar {
    color: #fff;
    background-color: #1e4388;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

h1, h2 {
    font-weight: 900;
}

h3, h4, h5, h6 {
    font-weight: 700;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#heroImage {
    position: relative;
}

.hero-text {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

    .hero-text .btn {
        text-transform: initial;
    }

    .hero-text .alert {
        text-transform: none;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .hero-text > h1 {
        font-size: 30px;
    }



body, html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

main {
    overflow-y: auto;
}

header, footer {
    width: 100%;
    z-index: 100;
}

main, footer {
    padding: 10px;
}

header {
    grid-row: 1/2;
}

    header > #logo, header > nav.menu {
        position: fixed;
        padding: 10px;
        top: 0;
    }

    header > #logo {
        left: 0;
    }

    header > nav.menu {
        text-align: right;
        right: 0;
    }

    header > nav {
        grid-column: 2/-2;
        list-style: none;
        font-weight: bold;
        text-align: center;
        line-height: 1.25;
    }

        header > nav.crumbs {
            margin: auto 0 0 0;
            line-height: 0;
        }

        header > nav,
        header > nav a,
        header > nav a:hover {
            color: white;
        }

            header > nav a {
                font-weight: normal;
            }

            header > nav.menu > ul {
                text-align: center;
            }

            header > nav.menu > ul {
                padding: 10px;
            }

            header > nav.menu > button {
                border: none;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
            }

            header > nav.menu > button {
                width: 3em;
                height: 3em;
            }

            header > nav.menu.closed > button {
                background-image: url(../images/ui/menu.png);
            }

            header > nav.menu.opened > button {
                background-image: url('../images/ui/arrow-down.png');
            }

            header > nav.menu.closed > ul {
                display: none;
            }

            header > nav.menu.opened {
                background-color: black;
                max-height: calc(100% - 3em);
                overflow: visible auto;
            }

                header > nav.menu.opened > ul {
                    display: block;
                }

main {
    grid-row: 2/-2;
}

footer {
    grid-row: -2/-1;
    background-color: white;
    font-weight: 300;
}

.btn {
    border-radius: 0;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

    .hero-text .btn-primary, .hero-text .btn-outline-primary {
        padding: .5rem 1.75rem;
    }


nav > ol, nav > ul {
    list-style: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

    .crumb:not(:last-child) {
        font-weight: normal;
    }

        .crumb:not(:last-child)::after {
            display: inline-block;
            content: '>';
            padding: 0 3px;
        }

th {
    text-align: center;
}
