@font-face {
    font-family: "Segoe UI Emoji";
    src: local("Segoe UI Emoji"), url("../fonts/seguiemj.ttf") format("truetype");
}


* {
    box-sizing: border-box;
    font-family: Lato, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}