body
{
    background-color: black;
    border:0;
    margin:0;
    padding:0;
}

canvas{
    position:absolute;
    z-index:1;
}

section{
    position:absolute;
    z-index:2;
    background-color:rgba(150, 130, 127, 0.5);
    font-family: 'DejaVu Sans Mono', Consolas, 'Lucida Console', monospace;
    color: white;
    padding: 1em;
    margin: 2em;
    max-width:40em;
}

a{
    color:#ffff00;
}
