@model Yarrow.Views.Shared.Components.DateRange.DateRangeViewComponent.Model
<th class="multi">
    <label for="filter@(Model.IDStub)StartDate">After</label>
    <input type="date"
           class="range-start"
           id="filter@(Model.IDStub)StartDate" />
    <br />
    <label for="filter@(Model.IDStub)EndDate">Before</label>
    <input type="date"
           class="range-end"
           id="filter@(Model.IDStub)EndDate" />
</th>
