/* ../../Juniper/src/Juniper.TypeScript/@juniper-lib/widgets/dist/DialogBox/styles.css */
.dialog,
.dialog-container {
  position: fixed;
}
.dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 9001;
}
.dialog-container {
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 5px 30px;
  display: grid;
  grid-template-columns: 2em auto 2em;
  grid-template-rows: auto 1fr auto 2em;
}
.dialog .title-bar {
  grid-area: 1 / 1 / 2 / -1;
  padding: .25em;
}
.dialog-content {
  grid-area: 2 / 2 / -4 / -2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.dialog-controls {
  grid-area: -2 / 2 / -3 / -2;
}
.dialog .confirm-button {
  float: right;
}
.dialog h1,
.dialog h2,
.dialog h3,
.dialog h4,
.dialog h5,
.dialog h6 {
  text-align: left;
}
.dialog select {
  max-width: 10em;
}

/* ../../Juniper/src/Juniper.TypeScript/@juniper-lib/threejs/dist/ScreenUI/style.css */
#appContainer > .cell {
  position: absolute;
  display: flex;
  margin: 10px 5px;
}
#appContainer > .cell.top {
  top: 0;
}
#appContainer > .cell.middle {
  top: 50%;
  transform: translateY(-50%);
}
#appContainer > .cell.bottom {
  bottom: 0;
}
#appContainer > .cell.right {
  right: 0;
}
#appContainer > .cell.center {
  left: 50%;
  transform: translateX(-50%);
}
#appContainer > .cell.left {
  left: 0;
}
#appContainer > .cell .btn {
  border-radius: 0;
  height: 58px !important;
  width: 58px;
  padding: 0.25em;
  margin: 0 5px;
  color: white;
  font-weight: bold;
}
#appContainer > .cell .btn img {
  height: calc(100% - 0.5em);
}
#appContainer > .cell canvas {
  height: 58px;
}
#appContainer button:disabled img {
  filter: invert(.5);
}

/* ../../Juniper/src/Juniper.TypeScript/@juniper-lib/threejs/dist/environment/BaseEnvironment/style.css */
#appContainer,
#frontBuffer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#frontBuffer {
  touch-action: none;
}

/* ../../Juniper/src/Juniper.TypeScript/@juniper-lib/widgets/dist/InputRangeWithNumber/style.css */
.input-range-with-number {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 1fr auto;
}

/* ../../Juniper/src/Juniper.TypeScript/@juniper-lib/widgets/dist/PropertyList/styles.css */
dl.properties {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.75em;
  margin-bottom: 0;
}
dl.properties.disabled {
  color: silver;
}
dl.properties > dt {
  grid-column: 1/2;
  text-align: right;
}
dl.properties > dt.single-item {
  display: none;
}
dl.properties > dt > label {
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  white-space: nowrap;
}
dl.properties > dd {
  grid-column: -2/-1;
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 0;
  margin-inline-start: 0;
  justify-content: left;
}
dl.properties > dd > input,
dl.properties > dd > select {
  min-width: 15em;
}
dl .properties > dd.single-item {
  grid-column: 1/-1;
  margin-left: 0;
  text-align: center;
}
dl.properties > dd input[type=number] {
  text-align: right;
}
dl.properties > dd > img {
  max-width: 10em;
}
dl.properties > dd > select {
  height: 30px;
  width: 100%;
}

/* ../../Juniper/src/Juniper.TypeScript/@juniper-lib/threejs/dist/environment/Environment/style.css */
#juniperSubMenu {
  display: none;
  flex-direction: column-reverse;
  gap: .25em;
}
/*# sourceMappingURL=index.css.map */
