@page
@{
    ViewData["Title"] = "Sean T. McBeth: engineer, photographer, mad scientist";
    ViewData["Keywords"] = "software development, software engineering, programming, freelancing, Sean T. McBeth, virtual reality, agumented reality, VR, AR, 3D, graphics programming, game development, simulation, abstract data visualization, audio synthesis, signals processing, computer vision, peer-to-peer, networking, desktop software, Web applications, mobile apps, WebRTC, reporting, GIS, databases";
    ViewData["Description"] = "Sean T. McBeth is a software engineer and dad.";
}

<section id="projects"
         aria-label="projects">
    <h2>Diplomatic Language Services Virtual Reality</h2>
    <p>
        DLS VR is a multiuser, multimodal, Web-based VR application that includes a full, online editor, designed for
        subject matter experts to be able to rapidly create new immersion scenarios. <a href="https://vr.dlsdc.com" target="_blank">View a live demo of DLS VR</a>.
    </p>

    <img src="~/img/dlsvr/landing.jpeg" alt="Screenshot of DLS VR Landing Page" title="DLS VR Landing Page" />

    <p>
        I built DLS VR from scratch, over the course of approximately 4 years, in tight collaboration with the Language Training Department (LT).
        In "seeking first to understand", I took a language course from one of our instructors to gain first-hand knowledge
        of the student experience at DLS. I incorporated several experienced instructors and curriculum designers directly into the
        project planning and development process. The LT department and I worked together to collect the latest research in EdTech
        and VR for language training to incorporate into the project. And I instituted bi-monthly and quarterly meetings pulling
        all stakeholders together to ensure every voice was heard.
    </p>

    <p>
        DLS VR uses the <a href="https://threejs.org">Three.js</a> library and my <a href="https://github.com/capnmidnight/Juniper/">Juniper</a> library,
        to run on desktop computers, mobile devices, and VR headsets. Users in the VR front end see each other as a synthetic
        avatar, with spatialized voice chat, shared pointers, and full body language through shared head and hand tracking.
    </p>

    <img src="~/img/dlsvr/screen1.jpeg" alt="Screenshot from DLS VR" title="Users meeting together in DLS VR" />

    <p>
        Following my belief that technology should be used to help great people do even better work, I designed a "guided tour" metaphor for
        the application. Unlike competitor VR language training applications that put students on their own inside in a fixed environment,
        DLS VR serves as supplement to our existing, accredited, best-in-class, instructor-led training, allowing students and instructors to
        interact in real-life locations. Participants engage in open-ended discussion about the culture of their target language through the
        visuals they see, listen to voice-overs, and watch videos providing historical details, and practice role-play scenarios <em>in situ</em>.
    </p>

    <img src="~/img/dlsvr/screen2.jpeg" alt="Screenshot from DLS VR" title="Users roleplaying together in DLS VR" />

    <p>
        The backend editor is a Google Maps-based application that allows instructors and curriculum developers to self-service their own
        creation of scenarios, without bottlenecking on requiring input from developers or 3D modelers. Scenarios are designed around
        a travel narrative using Google Street View imagery. Scenario designers can add spatialized background audio to enhance the
        immersion of the scenario, as well as a wide variety of pedagogical materials: callout images, vocabulary cards,
        videos, listening tasks, reading tasks, and role-play stations. Instructors can also see reports on student activity, including
        how much and how long they performed the material, as well as how long they directed their attention to each, individual piece
        of media provided in the scenario.
    </p>

    <img src="~/img/dlsvr/screen3.jpeg" alt="Screenshot from DLS VR" title="The DLS VR Editor" />

    <p>
        I also managed a fleet of 35 Meta Quest 2 headsets and built VR training labs at each of DLS' three locations. I was heavily
        involved in developing marketing materials, promoting the project with students and instructors, facilitating training sessions,
        training new students, instructors, and content developers on using the system, speaking at conferences and webinars to promote
        VR as a valuable tool for language training, demoing, and selling the system to clients, and searching for business partnerships
        to sublicense the software.
    </p>

    <p>
        I had direct supervisor responsibility for one fulltime employee and served as mentor for other employees within the company.
    </p>
</section>