@page
@model SeanMcBeth.Pages.IndexModel
@{
    ViewData["Title"] = "Sean T. McBeth: engineer, photographer, mad scientist";
    ViewData["Keywords"] = "software development, software engineering, programming, freelancing, Sean T. McBeth, embedded programming, virtual reality, agumented reality, VR, AR, 3D, graphics programming, game development, simulation, abstract data visualization, audio synthesis, signals processing, computer vision, peer-to-peer, networking, desktop software, Web applications, mobile apps, WebRTC, hardware, embedded systems, reporting, GIS, databases";
}

@section Menu {
<li style="display:none">
    <a href="#contact"
       role="menuitem"
       aria-label="Contact"
       title="Contact">Contact</a>
</li>
<li style="display:none">
    <a href="#bio"
       role="menuitem"
       aria-label="Bio"
       title="Bop">Bio</a>
</li>
<li>
    <a href="#projects"
       role="menuitem"
       aria-label="Projects"
       title="Projects">.com</a>
</li>
<li>
    <a href="#talks"
       role="menuitem"
       aria-label="Talks and Interviews"
       title="Talks and Inteviews">.net</a>
</li>
<li>
    <a href="#press"
       role="menuitem"
       aria-label="Press"
       title="Press">.tv</a>
</li>
}

@section Footer {
<h2>Thanks for reading</h2>
<p>Thank you for reading my website. If you have any questions, please feel free to reach out to me. All of my contact information is available at the top of the site.</p>
}

<img id="portrait"
     src="~/img/2021-03.min.jpg"
     alt="portrait"
     aria-label="Portrait of Sean T. McBeth"
     title="Sean T. McBeth">

<section id="contact"
         aria-label="contact">
    <h1>Sean T. McBeth</h1>

    <ul>
        <li>
            <a href="mailto:sean@seanmcbeth.com?subject=Website%20contact"
               aria-label="Email Sean"
               title="Email Sean">
                <span class="icon icon-email" role="presentation"></span>
                <span class="print-only">Email Sean</span>
            </a>
        </li>

        <li>
            <a href="https://twitter.com/Sean_McBeth"
               aria-label="Follow Sean on Twitter"
               title="Follow @@Sean_McBeth on Twitter">
                <span class="icon icon-twitter" role="presentation"></span>
                <span class="print-only">Follow @@Sean_McBeth on Twitter</span>
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/pub/sean-mcbeth/6/727/378"
               aria-label="Follow Sean on LinkedIn"
               title="Follow Sean on LinkedIn">
                <span class="icon icon-linkedin" role="presentation"></span>
                <span class="print-only">Follow Sean on LinkedIn</span>
            </a>
        </li>

        <li>
            <a href="https://github.com/capnmidnight"
               aria-label="Follow Sean on Git hub"
               title="Follow Sean on Github">
                <span class="icon icon-github" role="presentation"></span>
                <span class="print-only">Follow Sean on GitHub</span>
            </a>
        </li>

        <li>
            <a href="tel:+17172617689"
               aria-label="Call Sean"
               title="Call Sean">
                <span class="icon icon-telephone" role="presentation"></span>
                <span class="print-only">Call Sean</span>
            </a>
        </li>

        <li>
            <a href="Resume-STMcBeth-2019.pdf"
               aria-label="Download Sean's résumé (PDF 159KB)"
               title="Download Sean's résumé">
                <span class="icon icon-resume" role="presentation"></span>
                <span class="print-only">Download Sean's résumé</span>
            </a>
        </li>
    </ul>
</section>

<section id="bio"
         aria-label="bio">
    <h2>Bio</h2>

    <p>
        <a href="https://www.dlsdc.com">I work at Diplomatic Language Services</a>, where I am the head of Immersive Software Development. As a senior software architect, I build virtual and augmented reality games, training simulations, and abstract data visualizations. Audio synthesis and processing, computer vision, peer-to-peer networking, real-time communication, hardware prototyping, and Geographic Information Systems (<abbr>GIS</abbr>) are other areas in which I work. I've worked across the range of desktop, Web, mobile, embedded systems, and relational database systems.
    </p>

    <p>
        My current work is focused on Immersive Media. I've successfully bootstrapped and deployed multiple <abbr>VR</abbr> projects for Google Cardboard, Oculus Rift, HTC Vive, and Gear <abbr>VR</abbr> and <abbr>AR</abbr> projects for HoloLens and iOS. I've also built a number of hardware prototypes in radio and wireless input devices. Before <abbr>VR</abbr>, I built several analytics-heavy <abbr>OLTP</abbr> applications for desktop, Web, and mobile Web.
    </p>
</section>

<section id="projects"
         aria-label="projects">
    <h2>Projects</h2>

    <p>
        These are some of my current side-projects. I name all of my projects after plants. For more information on my <abbr>VR</abbr> and <abbr>AR</abbr> capabilities, please see my <abbr>XR</abbr> devices page at the following link: <a href="vr.html"><abbr>XR</abbr> devices.</a>
    </p>

    <ul>
        <li>
            <a href="https://github.com/capnmidnight/Juniper/">Juniper</a>:
            Juniper is a Unity3D framework for building cross-platform <abbr>VR</abbr> and <abbr>AR</abbr> applications.
        </li>
        <li>
            <a href="https://www.calla.chat">Calla</a>:
            Calla is a spatialized audio chat app for meetups and parties. <a href="https://github.com/capnmidnight/Calla/" aria-label="Calla on git hub">Calla on GitHub.</a>
        </li>
        <li>
            <a href="https://www.primrosevr.com/">Primrose</a>:
            Primrose is a syntax-highlighting text-editor that renders to an HTML5 Canvas element. Useful for generating textures for WebGL apps. <a href="https://www.github.com/capnmidnight/Primrose/" aria-label="Primrose on git hub">Primrose on GitHub.</a>
        </li>
        <li>
            <a href="https://www.potatovr.com/">Potato <abbr>VR</abbr></a>:
            Potato VR is a new project, coming soon.
        </li>
    </ul>
</section>

<section id="talks"
         aria-label="talks and interviews">

    <h2>Talks &amp; Interviews</h2>
    <p>
        These are talks and podcasts that I've done in the past.
    </p>

    <h3>2020</h3>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=Y5Z_atwryHE">Project Genesiz: Virtual Reality Implications & Insights with Sean McBeth</a>:
            I chatted with a Zoomcast on <abbr>VR</abbr>, Internet privacy, and learning.
        </li>
        <li>
            I was scheduled to talk at <abbr>UMD</abbr> <abbr>MAVRIC</abbr> Conference 2020, but the COVID-19 pandemic has caused an indefinite delay.
        </li>
    </ul>

    <h3>2019</h3>
    <ul>
        <li>
            <a href="https://mavricconference.umd.edu/src/pages/SethT.McBeth.html"><abbr>UMD</abbr> <abbr>MAVRIC</abbr> Conference 2019</a>:
            I spoke on accessibility for immersive applications and devices, software, and design techniques for achieving better access. (<a href="https://www.youtube.com/watch?v=Bzhp5g4HbKQ">Watch VR and AR for Everyone on YouTube</a><!--, <a href="presentations/vr-and-ar-for-everyon.pdf" aria-label="VR and AR for everyone PDF">PDF</a>, <a href="presentations/vr-and-ar-for-everyon.pptx" aria-label="VR and AR for everyone PowerPoint">PPTX</a>-->)
        </li>

        <li>
            <a href="https://www.meetup.com/CDK-Coder-Designer-Keggers/events/261603470/"><abbr>CDK</abbr>: Virtual Reality (<abbr>VR</abbr>) vs Augmented Reality (<abbr>AR</abbr>) Which Tech Will Win the Battle?</a>:
            I spoke on the current state of the Augmented Reality market, both of the progress of hardware and on design best-practices, with recommendations on how to get started in <abbr>AR</abbr> software development, primarily in the context of Enterprise-level software consulting.<!--(<a href="presentations/ar-for-fun-and-profit.pdf" aria-label="AR for Fun and Profit PDF">PDF</a>, <a href="presentations/ar-for-fun-and-profit.pptx" aria-label="AR for Fun and Profit PowerPoint">PPTX</a>)-->
        </li>
    </ul>

    <h3>2018</h3>
    <ul>
        <li>
            <a href="https://mavric.umd.edu/Sean%20T.%20McBeth"><abbr>UMD</abbr> <abbr>MAVRIC</abbr> Conference 2018</a>:
            I spoke on my experience at the Fallingwater Immersive Design Residency. (<a href="https://www.fallingwater.org/education/fallingwater-institute/immersive-design-residency/">Fallingwater Institute</a><!--, <a href="presentations/immersive-design.pdf" aria-label="Immersive Design PDF">PDF</a>, <a href="presentations/immersive-design.pptx" aria-label="Immersive Design PowerPoint">PPTX</a>-->)
        </li>
    </ul>

    <h3>2017</h3>
    <ul>
        <li>
            <a href="http://washington-dc.siggraph.org/2017/11/05/exploring-webvrchapter-board-elections/">DC <abbr>ACM</abbr> <abbr>SIGGRAPH</abbr>, November 2017</a>:
            I spoke on the history and current state of <abbr>VR</abbr> on the Web.
        </li>
        <li>
            <a href="https://www.facebook.com/dcvirtualreality/videos/1452036654839849/"><abbr>DCVR</abbr>, June 2017</a>:
            I spoke on getting started with Augmented Reality programming.
        </li>
        <li>
            <a href="https://www.evensi.us/virtual-reality-seminar-hosted-by-sean-mcbeth-northern/208134705"><abbr>NOVA</abbr> National Society of Collegiate Scholars'</a>:
            I was the keynote speaker for their annual event at Northern Virginia Community College's Loudoun campus.
        </li>
        <li>
            <a href="https://soundcloud.com/jon-wilkening/episode-16-sean-mcbeth">The Creative Bar: Episode 16</a>:
            I was interviewed on a podcast about entrepreneurship.
        </li>
        <li>
            <a href="http://arinaction.org/speakers/sean-mcbeth/"><abbr>AR</abbr> In Action 2017</a>:
            I spoke on two panels on haptics and content development.
        </li>
        <li>
            <a href="http://virtualrealityobserver.com/interview-sean-mcbeth-lead-vr-developer-of-notiontheory/">The Virtual Reality Observer</a>:
            I was interviewed for a tech blog about the future of <abbr>VR</abbr>.
        </li>
        <li>
            <a href="https://leanagiledc.com/speaker/sean-mcbeth/">Lean+Agile DC</a>:
            I gave a talk on rapid application development for <abbr>VR</abbr>.
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=TU1rG_tZp-I"><abbr>NOVAVR</abbr></a>:
            I spoke on a panel about the current state and future of Virtual and Augmented Reality.
        </li>
        <li>
            <a href="http://vrar.withthebest.com/#speakers"><abbr>VR</abbr>/<abbr>AR</abbr> With The Best</a>:
            I gave a webinar and ran personal Q&amp;A sessions on using Primrose to build <abbr>VR</abbr> applications.
        </li>
        <li>
            <a href="https://storify.com/ShahnazKamberi/stratfordwbcsit">Stratford University</a>:
            I described the essentials of Virtual Reality for Stratford's Computer Science/Information Technology students.
        </li>
    </ul>

    <h3>2016</h3>
    <ul>
        <li>
            <a href="https://www.facebook.com/dcvirtualreality/videos/1091494284227423/"><abbr>DCVR</abbr> Breakout Session #5</a>:
            I conducted a seminar on getting started with WebVR through Primrose.
        </li>
        <li>
            <a href="https://nvite.com/CodePenDC/ec85">CodePen DC</a>:
            I spoke on the emerging WebVR <abbr>API</abbr> and how developers can get started.
        </li>
        <li>
            <a href="https://devdiner.com/interviews/sean-mcbeth-on-primrose-webvr">Sean McBeth on Primrose and WebVR development (Dev Diner)</a>:
            I was interviewed for a blog about learning <abbr>VR</abbr> programming.
        </li>
        <li>
            <a href="http://www.blogtalkradio.com/dc-entrepreneur/2015/11/05/interview-with-sean-mcbeth-future-of-vr">DC Entrepreneur: Episode 2</a>:
            I was interviewed on a podcast about entrepreneurship.
        </li>
        <li>
            <a href="https://www.meetup.com/DCRealities/events/229971228/">2nd Annual <abbr>DCVR</abbr> Innovation Panel</a>:
            I spoke on a panel about the current state and future of <abbr>VR</abbr>.
        </li>
        <li>
            <a href="http://makezine.com/projects/make-35/making-pigments/">MAKE Magazine, Issue 35: Making Pigments</a>:
            I wrote an article about making paint pigments from basic chemicals.
        </li>
    </ul>
</section>

<section id="press"
         aria-label="press">
    <h2>Press</h2>

    <p>
        These are articles online that have talked about my work.
    </p>

    <ul>
        <li>
            <a href="http://dcinno.streetwise.co/2017/03/06/a-dc-virtual-reality-startup-now-lets-you-feel-in-vr/">DC Inno</a>:
            A DC Virtual Reality Startup Now Lets You Feel in <abbr>VR</abbr>.
        </li>
        <li>
            <a href="http://dailyfreepress.com/2017/01/18/ar-in-action-features-current-and-future-developments-in-technological-field/">Daily Free Press, Boston University</a>:
            <abbr>AR</abbr> in Action features current and future developments in technological field.
        </li>
        <li>
            <a href="https://venturebeat.com/2016/09/17/how-webvr-will-make-virtual-reality-massively-available/">VentureBeat</a>:
            How WebVR will make virtual reality massively available.
        </li>
        <li>
            <a href="http://www.thehoya.com/first-east-coast-virtual-reality-arcade-opens-in-d-c/">The Hoya, Georgetown University</a>:
            First East Coast Virtual Reality Arcade Opens in DC.
        </li>
        <li>
            <a href="http://www.techradar.com/news/gaming/how-one-of-the-first-vr-arcades-will-bring-us-together-in-our-own-little-worlds-1327005">TechRadar</a>:
            How one of the first <abbr>VR</abbr> arcades will bring us together in our own little worlds.
        </li>
        <li>
            <a href="http://sensics.com/why-webvr/">Sensics blog</a>:
            Why WebVR.
        </li>
        <li>
            <a href="https://www.sitepoint.com/build-virtual-reality-with-primrose-and-webvr/">SitePoint</a>:
            Build Virtual Reality in <abbr>VR</abbr> with Primrose and WebVR.
        </li>
        <li>
            <a href="http://dcinno.streetwise.co/2015/08/14/washington-dc-virtual-reality-vr-tech-startups-hub/">DC Inno</a>:
            The State of DC Virtual Reality Innovation: Part 1.
        </li>
    </ul>
</section>