@page
@model SeanMcBeth.Pages.OtherModel
@{
    ViewData["Title"] = "Sean T. McBeth: other info";
}

@section Menu {
<li><a href="#edu">.edu</a></li>
<li><a href="#profiles">.net</a></li>
<li><a href="#projects">.com</a></li>
<li><a href="#volunteer">.org</a></li>
}

<section id="bonafides">
    <h2><a name="edu">Education</a></h2>
    <ul>
        <li>Bachelors of Science, Computer Science&mdash;<a href="http://www.ship.edu/CSE/">Shippensburg University</a>, <em>cum laude</em> 2005.</li>
    </ul>
    <h2><a name="profiles">Online Profiles</a></h2>
    <ul>
        @{
            foreach (var (id, site, href) in new[] {
                ("@seanmcbeth", "Mastodon", "https://arvr.social/@seanmcbeth"),
                ("capnmidnight", "Github", "https://github.com/capnmidnight"),
                ("moron4hire", "YouTube", "https://www.youtube.com/user/moron4hire"),
                ("SeanMcBeth", "CodePen", "https://codepen.io/SeanMcBeth/"),
                ("seanmcbeth", "NPM", "https://www.npmjs.com/~seanmcbeth"),
                ("Sean T. McBeth", "LinkedIn", "https://www.linkedin.com/pub/sean-mcbeth/6/727/378"),
                ("moron4hire", "Hacker News", "https://news.ycombinator.com/user?id=moron4hire"),
                ("Sean_McBeth", "Twitter", "https://twitter.com/Sean_McBeth"),
                ("Sean T. McBeth", "IMDB", "https://www.imdb.com/name/nm5111059/")
            })
            {
                <li>
                    <a href="@href"
                        target="_blank"
                        rel="noopener"
                        aria-label="Follow @id on @site"
                        title="Follow @id on @site">
                        @site
                    </a>
                </li>
            }
        }
    </ul>
    <h2><a name="projects">Past Projects</a></h2>
    <p>Here are some of the projects I had worked on in the past, that are either now finished or defunct.</p>
    <h3>Virtual and Augmented Reality Projects</h3>
    <ul>
        <li><a href="https://github.com/capnmidnight/plume" target="_blank" rel="noopener">Plume</a>: a VR teleconferencing system for the Web</li>
        <li>
            <a href="https://www.youtube.com/watch?v=PWvPEEpLCT0&amp;feature=youtu.be&amp;t=55" target="_blank" rel="noopener">Smart-city VR diorama</a>: with:
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=gdiIqyTl_Kk" target="_blank" rel="noopener">Traffic simulation</a>: a simple traffic animation with <a href="https://www.youtube.com/watch?v=awmEM5jbZAk" target="_blank" rel="noopener">night-time dependent effects</a>
                </li>
                <li><a href="https://www.youtube.com/watch?v=XL__CsW_L7A" target="_blank" rel="noopener">Power grid simulation</a>:</li>
                <li><a href="https://www.youtube.com/watch?v=90hJ4h-rwk0" target="_blank" rel="noopener">Day/night cycle for time-series simulation in games</a>:</li>
            </ul>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=xSSL8WqZT6o" target="_blank" rel="noopener">Music beat detection</a>: for <a href="https://www.youtube.com/watch?v=K_HJtNlNsmg&amp;feature=youtu.be&amp;t=20" target="_blank" rel="noopener">game-play synchronization</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=CEYDYRBhC2E" target="_blank" rel="noopener">AR for business cards</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=fhvDLiuSYis" target="_blank" rel="noopener">AR for Religious Preference</a>:</li>
        <li><a href="https://makeoffices.com/blog/the-east-coasts-first-virtual-reality-arcade-launches-at-makeoffices-dc/" target="_blank" rel="noopener">The East Coast's first Virtual Reality Arcade</a>:</li>
        <li><a href="https://www.linkedin.com/pulse/i-just-hacked-my-brain-sean-mcbeth" target="_blank" rel="noopener">DIY Galvanic Vestibular Stimulation (virtual balance)</a>:</li>
        <li><a href="https://youtu.be/-oOK6dDr74I?t=61" target="_blank" rel="noopener">Live-programmable VR environment</a>:</li>
    </ul>
    <h3>Hardware Projects</h3>
    <ul>
        <li><a href="https://www.facebook.com/adamzuckerman/posts/10101366098933612" target="_blank" rel="noopener">Haptic Glove, v3</a>:</li>
        <li><a href="https://medium.com/@@notiontheory/building-a-haptic-feedback-glove-for-virtual-reality-77232999a2d7" target="_blank" rel="noopener">Haptic Glove, v2</a>:</li>
        <li><a href="https://plus.google.com/+SeanMcBeth/posts/gKF7sQ2FAhh" target="_blank" rel="noopener">Haptic Glove, v1</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/post/60153233552/a-thing-i-built-a-while-ago-you-can-see-it-in" target="_blank" rel="noopener">Speaking Accent Recognition Testing Machine</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=j4eOyNT6JsY" target="_blank" rel="noopener">Laser Harp</a>:</li>
        <li><a href="http://www.hive76.org/the-no-video-game" target="_blank" rel="noopener">The No-Video Game</a>:</li>
        <li><a href="http://www.hive76.org/standing-workstations" target="_blank" rel="noopener">Standing Workstation</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=RPdBk-qXuzg" target="_blank" rel="noopener">2-Player, Competitive, Arm-Wrestling Tetris</a>:</li>
        <li><a href="http://wiki.hive76.org/Burning_Zombie_Dummy" target="_blank" rel="noopener">Indie-movie pyrotechnic effects</a>:</li>
    </ul>
    <h3>Web and Database Projects</h3>
    <ul>
        <li><a href="https://capnmidnight.github.io/marigold-build/" target="_blank" rel="noopener">Marigold</a>: a development environment for JavaScript Single-Page Applications</li>
        <li><a href="https://github.com/capnmidnight/pliny" target="_blank" rel="noopener">Pliny: a live-documentation system for JavaScript projects</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=9_6_w-dXVw0" target="_blank" rel="noopener">Electron/WebRTC app for screen sharing and web app collaboration</a>:</li>
        <li><a href="https://www.bloomberg.com/news/articles/2016-12-06/goldman-sachs-alum-turns-to-virtual-reality-to-sell-57-million-mansion" target="_blank" rel="noopener">REX</a>: 360° Real Estate Tours</li>
        <li><a href="~/app/yabs" target="_blank" rel="noopener">No More Jabber Yabs</a>: A game about the consequences of following orders.</li>
        <li><a href="http://www.highlandas.com" target="_blank" rel="noopener">Highland Solutions</a>: a consultancy for helping people wrangle their data</li>
        <li><a href="https://www.youtube.com/watch?v=5SXsu_MEzmU" target="_blank" rel="noopener">Genetic algorithm visualizer</a>:</li>
        <li><a href="~/archive/jwd" target="_blank" rel="noopener">Just Write, Dammit!</a>: A book writing platform</li>
        <li><a href="https://www.youtube.com/watch?v=KcDqzLGkre4&amp;feature=youtu.be&amp;t=43" target="_blank" rel="noopener">Rieker CARS</a>: DOT-compliant road sign recommendations</li>
        <li><a href="https://github.com/capnmidnight/small-town" target="_blank" rel="noopener">Small Town</a>: interactive fiction + AI Shakespere</li>
        <li><a href="https://github.com/capnmidnight/SqlSiphon" target="_blank" rel="noopener">SqlSiphon</a>: a database management library for .NET</li>
        <li><a href="~/archive/html5/pong" target="_blank" rel="noopener">Mobile-responsive Pong game</a>:</li>
        <li><a href="~/archive/html5/synth" target="_blank" rel="noopener">Scratch Live!</a>: An HTML 5 synthesizer</li>
    </ul>
    <h3>Photography and Writing</h3>
    <ul>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/Germany" target="_blank" rel="noopener">Photography from Germany</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/Ireland" target="_blank" rel="noopener">Photography from Ireland</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/Galapagos" target="_blank" rel="noopener">Photography and writing on the Galapagos Islands</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/abstract" target="_blank" rel="noopener">Abstract photography with prisms</a>:</li>
        <li><a href="http://www.amazon.com/dp/B00J3XY6N2" target="_blank" rel="noopener">Three Years: an ebook</a>:</li>
    </ul>
    <h2><a name="volunteer">Past Community Work</a></h2>
    <p>These are some of the volunteer positions I've held in the past.</p>
    <ul>
        <li><a href="https://www.meetup.com/Alexandria-Code-Coffee/" target="_blank" rel="noopener">Alexandria Code &amp; Coffee</a>: Organizer</li>
        <li><a href="http://washington-dc.siggraph.org/" target="_blank" rel="noopener">DC ACM SIGGRAPH</a>: Member</li>
        <li><a href="https://dcacm.org/2016/07/04/announcing-the-2016-2017-dc-acm-executive-board/" target="_blank" rel="noopener">VR Program Chair</a>: for <a href="https://dcacm.org" target="_blank" rel="noopener">the Washington DC chapter</a> of <a href="https://www.acm.org" target="_blank" rel="noopener">ACM</a>.</li>
        <li><a href="http://wiki.hive76.org/Elections" target="_blank" rel="noopener">Treasurer, events coordinator, and board member</a>: at <a href="https://www.hive76.org" target="_blank" rel="noopener">Hive76</a>.</li>
        <li>Charter President for Shippensburg University's chapter of <a href="http://upe.acm.org/" target="_blank" rel="noopener">Upsilon Pi Epsilon</a>, the Computer Science honor society.</li>
        <li>President for Shippensburg University's student ACM chapter.</li>
        <li>Vice-President for Shippensburg University's programming team.</li>
        <li>President for Penn State Mont Alto's engineering club.</li>
    </ul>
</section>

<section id="archive"
         aria-label="archive of really old projects">
    <h2>Archive</h2>

    <p>
        Some really old projects that I just like to keep around and look at from time to time.
    </p>

    <ul>
        <li><a href="~/archive/3hgdc">3hgdc</a></li>
        <li><a href="~/archive/html5/brian">brian</a></li>
        <li><a href="~/archive/html5/epa">epa</a></li>
        <li><a href="~/archive/html5/web-chess">chess</a></li>
        <li><a href="~/archive/research/dhtml/render">sprites</a></li>
        <li><a href="~/archive/research/dhtml/render/render.html">render</a></li>
        <li><a href="~/archive/research/dhtml/slidebar">slidebar</a></li>
        <li><a href="~/archive/research/mapping">mapping</a></li>
        <li><a href="~/archive/research/optical_illusions">optical_illusions</a></li>
        <li><a href="~/archive/research/testing">testing</a></li>
    </ul>
</section>
