@page "{Code:int}"
@model SeanMcBeth.Pages.StatusModel
@{
    ViewData["Title"] = $"Sean T. McBeth - {Model.Code}";
}

@section Menu {
    @{
        foreach (var (text, title, href) in new[] {
            ("home/", "Home", "/"),
            ("etc/", "Extras", "/other")
        })
        {
            <li>
                <a href="@href"
                   aria-label="@title"
                   title="@title">
                    @text
                </a>
            </li>
        }
    }
}

<img src="https://http.cat/@Model.Code" style="display:block;margin:0 auto" />
<a href="~/">Return home</a>