@page "{Code:int}"
@model Yarrow.Pages.StatusModel
@{
    ViewData["Title"] = $"Sean T. McBeth - {Model.Code}";
}

<img src="https://http.cat/@Model.Code" style="display:block;margin:0 auto" />
<a href="~/">Return home</a>