@page
@{
    ViewData["SubURL"] = "turning";
    ViewData["Title"] = "Sean T. McBeth: Project Wood Turning";
    ViewData["Description"] = "Wood working projects on a lathe.";
    ViewData["Screenshot"] = "/img/turning.jpg";
}

@section Menu {
    @{
        foreach (var (text, title, href) in new[] {
            ("home/", "Home", "/"),
            ("etc/", "Extras", "/other")
        })
        {
            <li>
                <a href="@href"
                   aria-label="@title"
                   title="@title">
                    @text
                </a>
            </li>
        }
    }
}


<h1>Word Turning</h1>

<p>
    Beginning early in January 2023, I started teaching myself the craft of woodturning.
    I am specifically focusing on what's called "treenware", i.e. eating utensils made from wood (as opposed to "silverware").
</p>

<p>Here are a few of the things I've made so far.</p>

<section>
    <h2>My first shotglass</h2>
    <figure>
        <a href="/turning/A1.jpg" target="_blank">
            <img src="/turning/A1.jpg" alt="Photo of wood working project" title="My first shotglass">
        </a>
        <figcaption>A shotglass. The first usable piece of treenware I've ever made. This is pine stained with black ink.</figcaption>
    </figure>

    <figure>
        <a href="/turning/A2.jpg" target="_blank">
            <img src="/turning/A2.jpg" alt="Photo of wood working project" title="My first shotglass">
        </a>
        <figcaption>Another angle on the wooden shotglass.</figcaption>
    </figure>
</section>

<section>
    <h2>My first goblet</h2>
    <figure>
        <a href="/turning/B1.jpg" target="_blank">
            <img src="/turning/B1.jpg" alt="Photo of wood working project" title="My first goblet">
        </a>
        <figcaption>A goblet. This is tupelo, unstained. I found out after the fact that tupelo is not ideal for wood turning, as its softness makes it very prone to end-grain tearout.</figcaption>
    </figure>
</section>

<section>
    <h2>My first bowl</h2>
    <figure>
        <a href="/turning/C1.jpg" target="_blank">
            <img src="/turning/C1.jpg" alt="Photo of wood working project" title="My first bowl">
        </a>
        <figcaption>A snack bowl. This is pine, stained with a red ink. Not pictured here is the attempt I made at sealing the wood with epoxy resin, which ended poorly as I didn't use enough epoxy.</figcaption>
    </figure>
</section>

<section>
    <h2>My second goblet</h2>
    <figure>
        <a href="/turning/D1.jpg" target="_blank">
            <img src="/turning/D1.jpg" alt="Photo of wood working project" title="My second goblet">
        </a>
        <figcaption>Another goblet. This is maple and rosewood. As-yet unfinished.</figcaption>
    </figure>

    <figure>
        <a href="/turning/D2.jpg" target="_blank">
            <img src="/turning/D2.jpg" alt="Photo of wood working project" title="My second goblet">
        </a>
        <figcaption>To make the pattern in the bowl of the goblet, I clad a maple post with other maple as well as rosewood. The goop on the top is epoxy resin that I dammed up with hot glue to try to fill in the glue gaps created by my janky sawing skills.</figcaption>
    </figure>

    <figure>
        <a href="/turning/D3.jpg" target="_blank">
            <img src="/turning/D3.jpg" alt="Photo of wood working project" title="My second goblet">
        </a>
        <figcaption>Detail on the bowl.</figcaption>
    </figure>

    <figure>
        <a href="/turning/D4.jpg" target="_blank">
            <img src="/turning/D4.jpg" alt="Photo of wood working project" title="My second goblet">
        </a>
        <figcaption>Detail on the pedestal.</figcaption>
    </figure>
</section>

<section>
    <h2>My third goblet</h2>
    <figure>
        <a href="/turning/E1.jpg" target="_blank">
            <img src="/turning/E1.jpg" alt="Photo of wood working project" title="My third goblet">
        </a>
        <figcaption>Yet another goblet. Again, maple and rosewood. Finished with a beeswax/linseed oil paste. Managed to get the proportions right this time. I didn't try to do a segmented pattern this time. Just stuck with straight rosewood for the bowl and foot. I think it looks a lot better.</figcaption>
    </figure>

    <figure>
        <a href="/turning/E2.jpg" target="_blank">
            <img src="/turning/E2.jpg" alt="Photo of wood working project" title="My third goblet">
        </a>
        <figcaption>Detail on the bowl interior.</figcaption>
    </figure>

    <figure>
        <a href="/turning/E3.jpg" target="_blank">
            <img src="/turning/E3.jpg" alt="Photo of wood working project" title="My third goblet">
        </a>
        <figcaption>Detail on the bowl exterior.</figcaption>
    </figure>
</section>

<section>
    <h2>My fourth goblet</h2>
    <figure>
        <a href="/turning/F1.jpg" target="_blank">
            <img src="/turning/F1.jpg" alt="Photo of wood working project" title="My fourth goblet">
        </a>
        <figcaption>Yet another goblet. This one was made from a solid block of marblewood. Finished with a beeswax/linseed oil paste. I intended to make a stem for this one, but my lathe mounting shattered and I had to sacrifice wood from what would have been the stem to make a new one.</figcaption>
    </figure>
</section>