@page
@{
    ViewData["SubURL"] = "turning";
    ViewData["Title"] = "Sean T. McBeth: Project Wood Turning";
    ViewData["Description"] = "Wood working projects on a lathe.";
    ViewData["Screenshot"] = "/img/turning.jpg";
}

@section Menu {
    @{
        foreach (var (text, title, href) in new[] {
            ("home/", "Home", "/"),
            ("etc/", "Extras", "/other")
        })
        {
            <li>
                <a href="@href"
                   aria-label="@title"
                   title="@title">
                    @text
                </a>
            </li>
        }
    }
}


<section id="projects"
         aria-label="projects">
    <h2>Word Turning</h2>

    <p>
        Beginning early in January 2023, I started teaching myself the craft of woodturning.
        I am specifically focusing on what's called "treenware", i.e. eating utensils made from wood (as opposed to "silverware").
    </p>

    <p>Here are a few of the things I've made so far.</p>

    <figure>
        <h3>My first shotglass</h3>
        <img src="/turning/A1.jpg" alt="Photo of wood working project" title="My first shotglass">
        <figcaption>A shotglass. The first usable piece of treenware I've ever made. This is pine stained with black ink.</figcaption>
        <a href="#"></a>
    </figure>

    <figure>
        <h3></h3>
        <img src="/turning/A2.jpg" alt="Photo of wood working project" title="My first shotglass">
        <figcaption>Another angle on the wooden shotglass.</figcaption>
        <a href="#"></a>
    </figure>


    <figure>
        <h3>My first goblet</h3>
        <img src="/turning/B1.jpg" alt="Photo of wood working project" title="My first goblet">
        <figcaption>A goblet. This is tupelo, unstained. I found out after the fact that tupelo is not ideal for wood turning, as its softness makes it very prone to end-grain tearout.</figcaption>
        <a href="#"></a>
    </figure>

    
    <figure>
        <h3>My first bowl</h3>
        <img src="/turning/C1.jpg" alt="Photo of wood working project" title="My first bowl">
        <figcaption>A snack bowl. This is pine, stained with a red ink. Not pictured here is the attempt I made at sealing the wood with epoxy resin, which ended poorly as I didn't use enough epoxy.</figcaption>
        <a href="#"></a>
    </figure>

    
    <figure>
        <h3>My second goblet</h3>
        <img src="/turning/D1.jpg" alt="Photo of wood working project" title="My second goblet">
        <figcaption>Another goblet. This is maple and rosewood. As-yet unfinished.</figcaption>
        <a href="#"></a>
    </figure>

    <figure>
        <h3></h3>
        <img src="/turning/D2.jpg" alt="Photo of wood working project" title="My second goblet">
        <figcaption>To make the pattern in the bowl of the goblet, I clad a maple post with other maple as well as rosewood. The goop on the top is epoxy resin that I dammed up with hot glue to try to fill in the glue gaps created by my janky sawing skills.</figcaption>
        <a href="#"></a>
    </figure>

    <figure>
        <h3></h3>
        <img src="/turning/D3.jpg" alt="Photo of wood working project" title="My second goblet">
        <figcaption>Detail on the bowl.</figcaption>
        <a href="#"></a>
    </figure>

    <figure>
        <h3></h3>
        <img src="/turning/D4.jpg" alt="Photo of wood working project" title="My second goblet">
        <figcaption>Detail on the pedestal.</figcaption>
        <a href="#"></a>
    </figure>
</section>