@page
@model SeanMcBeth.Pages.VRModel
@{
    ViewData["Title"] = "Sean T. McBeth: other info";
}

<section>
    <h2>Virtual and Augmented Reality</h2>
    <p>I am a senior software architect, specializing in Virtual and Augmented Reality. Here are a most of the devices I own.</p>

    <h3>Mobile Virtual Reality</h3>
    <ul>
        <li><a href="https://www.meta.com/quest/quest-pro/" target="_blank">Meta Quest Pro</a>: The price puts it out of range for most people, but it is an incredibly good headset at any price.</li>
        <li><a href="https://www.oculus.com/quest/" target="_blank">Oculus Quest</a>: The Snapdragon 835 processor is getting pretty old, and you can see it in the games. Even though the display resolution is the same as most desktop systems, the lack of graphics budget for anti-aliasing and other graphics features makes the visuals a LOT worse.</li>
        <li><a href="https://www.oculus.com/go/" target="_blank">Oculus Go</a>: Mostly a relic now.</li>
        <li><a href="https://www.samsung.com/global/galaxy/gear-vr/" target="_blank">Samsung Gear VR</a>: I have a SM-R324 version, with the motion controller, of the Gear VR (the last white version they distrubeted) with a Samsung Galaxy S8 to run in it. This was the first mobile VR headset I used on a regular basis, and even bought my father one for his phone.</li>
        <li><a href="https://www.lenovo.com/us/en/virtual-reality-and-smart-devices/virtual-and-augmented-reality/lenovo-mirage-solo/Mirage-Solo/p/ZZIRZRHVR01" target="_blank">Lenovo Mirage Solo</a>: I wish this headset had delayed to include the 6DOF controllers. It's an excellent headset, and I enjoy working in the Daydream ecosystem. I'm pissed off at Google for killing Daydream. I kind of feel like Lenovo went out on a limb to make a headset to-spec and then Google did nothing to back it up, letting it all die on the vine.</li>
        <li><a href="https://en.wikipedia.org/wiki/Pixel_6" target="_blank">Google Pixel 6</a>: I have a Google Pixel 6 for ARCore projects. It is my daily-driver phone.</li>
        <li><a href="https://vr.google.com/daydream/" target="_blank">Google Daydream</a>: I have a Daydream View 2 with a Google Pixel 2 smartphone. The smartphone is my daily-driver. I have two standard 3DOF controllers for it. I'm *still* pissed off at Google for killing Daydream.</li>
        <li><a href="https://enterprise.vive.com/us/vivefocus/" target="_blank">Vive Focus</a>: I haven't used it in over a year. It's ok, I guess. Not very comfortable. Programming for it is a mess. The store is anemic. Might be good for corporate environments that don't want to interface with Facebook to get control over application deployments.</li>
        <li><a href="https://vr.google.com/cardboard/" target="_blank">Google Cardboard</a>: I easily have a dozen different "dumb" slot-in-smartphone headsets, both purchased and of my own creation.</li>
        <li><em>Pico Neo DK</em> I have a Pico Neo dev-kit, which is a 3DOF headset with a gamepad controlller. It's interesting from a historical perspective.</li>
    </ul>

    <h3>Tethered PC Virtual Reality</h3>
    <ul>
        <li><a href="https://www.samsung.com/us/computing/hmd/windows-mixed-reality/hmd-odyssey-windows-mixed-reality-headset-xe800zba-hc1us/" target="_blank">Samsung Odyssey+</a>: Getting into the sweet spot of the lenses is a little difficult, but when you do, the visual clarity is excellent.</li>
        <li><a href="https://www8.hp.com/us/en/campaigns/mixedrealityheadset/overview.html" target="_blank">HP Windows Mixed Reality Headset</a>: I used to really love this headset, with the flip-up visor. I wish more headsets had this feature. The cable is a little short, and now that I have the Valve Index I primarily use that.</li>
        <li><a href="https://www.vive.com/us/product/vive-virtual-reality-system/" target="_blank">HTC Vive</a>: My standard Vive is equipped with the <a href="https://www.vive.com/us/vive-deluxe-audio-strap/" target="_blank">Deluxe Audio Strap</a> and the <a href="https://www.tpcastvr.com/store/TPCAST-Wireless-Adapter-for-VIVE-p93101456" target="_blank">TPCAST Wireless Adapater</a>. I also have two <a href="https://www.vive.com/us/vive-tracker/" target="_blank">Vive Trackers</a> with hand straps. I don't really use it anymore.</li>
        <li><a href="https://enterprise.vive.com/us/product/vive-pro-eye/" target="_blank">HTC Vive Pro Eye</a>: I'm interested in playing with the eye tracking.</li>
        <li><a href="https://store.steampowered.com/valveindex" target="_blank">Valve Index</a>: worth every penny.</li>
        <li><a href="https://pimaxvr.com/products/5kplus" target="_blank">Pimax 5K Plus</a>: a huge disappointment. The internal displays have a red tint to them and there is a lot of weird, bright, red static in the image. The lenses are super distorted. It kind of feels like one bump will make the whole thing fall apart. And the company is really bad at support. I had to reverse my credit card charge after two months of waiting on my shipment (post-shipment notification). They got me a different one really quick after that! Should have just told them to not bother.</li>
        <li><a href="https://www.oculus.com/rift-s/" target="_blank">Oculus Rift S</a>: Very similar to the Samsung Odyssey+, but with a much wider lens sweet spot. It's comfortable, especially when I'm using it seated at my desk. Still, Facebook...</li>
        <li><a href="https://www.oculus.com/rift" target="_blank">Oculus Rift CV1</a>: I don't really like this headset. I think it was a lackluster release from a company that hyped it up way too much. At the time it came out, I bought an HTC Vive instead. But I now have a Rift CV1 to round out the library.</li>
        <li><a href="https://developer.oculus.com/blog/open-source-release-of-rift-dk2/" target="_blank">Oculus Rift DK2</a>: I still have my first "real" VR headset.</li>
        <li><a href="https://github.com/facebookarchive/RiftDK1/" target="_blank">Oculus Rift DK1</a>: I don't really know why I have this.</li>
    </ul>

    <h3>Augmented Reality</h3>
    <ul>
        <li><a href="https://www.microsoft.com/en-us/p/microsoft-hololens-development-edition" target="_blank">Microsoft HoloLens 1</a>: The device is starting to get a bit long-in-the-tooth, but I also think its capabilities have yet to be fully tapped in any extant applications. It's old (tech is at least 5 years old), and it's limited, but there isn't anything fundamentally broken in it, unlike the Magic Leap</li>
        <li><a href="https://www.apple.com/ipad-9.7/" target="_blank">Apple iPad (2017) 9.7&quot;</a>: This is the current model of regular iPad, as of this writing. It comes with the A10 chipset, which is compatible with ARKit.</li>
        <li><a href="https://www.tiltfive.com/" target="_blank">Tile Five</a>: I was a KickStarter backer for this really interesting set of glasses that couple with a target tracking pad.</li>
    </ul>

    <h3>Other devices</h3>
    <ul>
        <li><a href="https://store.intelrealsense.com/buy-intel-realsense-tracking-camera-t265.html" target="_blank">Intel RealSense T265</a>: This is the most recent tracking module that Intel offers in the RealSense line.</li>
        <li><a href="https://www.intelrealsense.com/depth-camera-d435i/" target="_blank">Intel RealSense D435i</a>: This is the most recent 3D mapping module that Intel offers in the RealSense line.</li>
        <li><a href="https://store.neurosky.com/pages/mindwave" target="_blank">NeuroSky MindWave</a>: This is a brainwave sensing device that gives applications a sense of the level of concentration a user is applying to a task, or their level of calmness/anxiety. It's relatively inexpensive and really easy to use, so I'm investigating using it as a means of controlling parameters in selection systems, either to making picking of small objects easier/more precise, or scaling back difficulty level during periods of high anxiety.</li>
        <li><a href="https://www.leapmotion.com/technology/" target="_blank">Leap Motion</a>: I have one of the Leap Motion PC Developer Kits, with various mounts I've designed with Sugru for better hand tracking when attached to a VR headset.</li>
        <li><a href="https://www.microsoft.com/en-us/p/azure-kinect-dk/" target="_blank">Azure Kinect DK</a>: Depth+RGB camera data, though the package is significantly bigger than the Intel RealSense cameras (even if you combine the T265 and D435i into one box to have similar functionality).</li>
    </ul>
</section>