@page
@model ForgotPasswordModel

@{
    var noStatus = Model.StatusMessage == "";
    ViewData["Title"] = noStatus ? "Request Password Reset" : "Password Reset Request Received";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <bundle-css name="home" versioned />
    <bundle-css dir="js/dom-apps" name="login/index" versioned />
}

<h1>@ViewData["Title"]</h1>
@if (noStatus)
{
    <form id="account" method="post">
        <section id="loginForm">
            <div id="userNameGroup" class="form-group span-width">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div id="loginControls">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </div>
            </div>
        </section>
    </form>
}
else
{
    <p class="alert alert-warning" style="display:block">@Model.StatusMessage</p>
    <p><a href="/" class="btn btn-primary">Return home</a></p>
}