@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@section Scripts {
    <bundle-css name="home" versioned />
    <bundle-css dir="js/dom-apps" name="login/index" versioned />
}

<h1>@ViewData["Title"]</h1>
<div>
    Your password has been reset.
</div>
<div>
    Please <a asp-page="./Login">click here to log in</a>, or <a href="/">return home</a>.
</div>