main {
    padding: 3em 1em;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

#aiForm {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

    #aiForm > .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

#status {
    text-align: center;
}

#addlPrompt {
    font-family: monospace;
    text-align: left;
    height: 7em;
}

#micActivity {
    width: 100%;
}

#visemes {
    height: 5em;
    justify-self: center;
}

#conversationLog {
    font-family: monospace;
    display: inline-flex;
    flex-direction: column;
}

em {
    font-style: normal;
    font-weight: bold;
}

    em::before {
        content: open-quote;
    }
    em::after {
        content: close-quote;
    }