[Unit]
Description=Sean's Personal Website

[Service]
Type=notify
SyslogIdentifier=SeanMcBeth.Site

WorkingDirectory=/home/smcbeth/bin/SeanMcBeth.Site
ExecStart=/home/smcbeth/bin/SeanMcBeth.Site/SeanMcBeth.Site
User=smcbeth

Restart=always
RestartSec=5
KillSignal=SIGINT

AmbientCapabilities=CAP_NET_BIND_SERVICE

Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_ROOT=/usr/share/dotnet
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:80;https://*:443

[Install]
WantedBy=multi-user.target
